/* Login.css */

/* Animations */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes softPulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05); /* Slight Scale Up */
    opacity: 0.95;          /* Optional: Tiny Fade */
  }
}

/* Styles */ 
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ece5c7;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;    
    min-height: 100vh;          
    padding: 1rem;
}

.login-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.login-logo {
  display: block;
  margin: 1rem auto;
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 0 4px 20px rgba(91, 117, 83, 0.2);

  animation:
    fadeSlideIn 0.8s ease-out forwards,
    softPulse 2s ease-in-out infinite;
  animation-delay: 0s, 0.8s;
}

.login-header h1 {
  font-size: 1.5rem;
  color: #5b7553;
  font-weight: bold;
}

.login-footer {
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.login-footer a {
  color: #5b7553;
  text-decoration: none;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;             
  padding: 2rem;
  background-color: #fdfcf5;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(91, 117, 83, 0.2);
  color: #5b7553;
  font-family: 'Segoe UI', sans-serif;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #395144;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 1rem;
  font-weight: 600;
  color: #5b7553;
}

.login-form input {
  padding: 10px;
  font-size: 1rem;
  color: #395144;
  border: 1px solid #d6ce93;
  border-radius: 6px;
  margin-top: 4px;
  background-color: #ffffff;
}

.login-form input:focus {
  outline: none;
  border-color: #a0c49d;
  box-shadow: 0 0 0 2px rgba(160, 196, 157, 0.2);
}

.login-form button {
  margin-top: 2rem;
  padding: 12px;
  background-color: #a0c49d;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #395144;
}